/* src/App.css */
.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient(to bottom, #141E21, #1f2b31);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
